<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @developer.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @developer.password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @name.name %>
</p>

<%= link_to 'Edit', edit_developer_path(@developer) %>
