<p id="alert"><%= alert %></p>

    <div class="jumbotron">
        <div class="login-container">
            <div class="title-container">
                <h1 class="login-title"> Login</h1>
            </div>
                <div class="login-form">



      <p><%= label_tag :name %>
      <%= text_field_tag :name%></p>
      <br>
      <%= form_tag(login_path) do %>
      <p><%= label_tag :email %>
      <%= email_field_tag :email %></p>
      <br>
      <p><%= label_tag :password %>
      <%= password_field_tag :password %></p>

  <div class="login-submit"> <%= submit_tag "Log in" %> </div>
<% end %>
</div>
</div>
