<%= form_for(@time_entry) do |f| %>

  <div class="field">
    <%= f.label :project_id, "Project Id" %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :developer_id, "Developer Id" %><br>
    <%= f.collection_select(:developer_id, Developer.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :duration, "Hours"%><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :date_on, "Date"%><br>
    <%= f.date_select :date_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <%= link_to 'Time Entries', time_entries_path(@time_entry) %>

<% end %>
