<p id="notice"><%= notice %></p>

<p> <%= @time_entry.project_id %> </p>
<p>  <%= @time_entry.date_on %> </p>

<p><%= link_to 'Edit', edit_time_entry_path(@time_entry) %></p>
<p><%= link_to ' Back to Time Entries', time_entries_path(@time_entry) %></p>
